::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-track-piece {
  background-color: #b6b6b6;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #e0e0e0;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #787878;
  -webkit-border-radius: 6px;
}
